$C1_white: hsl(0, 0%, 100%);
$C2_slate-300: hsl(212, 45%, 89%);
$C3_slate-500: hsl(216, 15%, 48%);
$C4_slate-900: hsl(218, 44%, 22%);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $C2_slate-300;

    // center main element
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 320px;
    height: 499px;
    border-radius: 20px;
    background-color: $C1_white;
    overflow: hidden;

    // center qr-card element
    display: flex;
    justify-content: center;
}

.qr-card {
    margin-top: 16px;
    width: 288px;

    header {
        img {
            width: 100%;
            height: 288px;
            border-radius: 10px;
        }
    }

    .qr-content {
        margin-top: 25px;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 22px;
            color: $C4_slate-900;
        }

        p {
            max-width: 256px;
            margin-top: 16px;
            text-align: center;
            color: $C3_slate-500;
            font-size: 15px;
        }
    }
}

@media (max-width: 300px) {
    main {
        width: 90%;
    }

    .qr-card {
        width: 90%;
    }
}
